{# templates/reset_token.html #}
{% extends "base.html" %}
{% block title %}Restablecer Contraseña{% endblock %}
{% block content %}
    <div class="card">
        <h1>Restablecer Contraseña</h1>
        <form method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                    <span style="color: red; font-size: 0.9em;">{{ error }}</span><br>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(class="form-control") }}
                {% for error in form.confirm_password.errors %}
                    <span style="color: red; font-size: 0.9em;">{{ error }}</span><br>
                {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}